<% read_receipt_message_id = chat_read_receipt_message_id(conversation, current_user, other_participant) %>

<div id="conversation_messages"
     data-controller="chat-scroll"
     data-chat-scroll-read-url-value="<%= read_conversation_path(conversation) %>"
     class="flex-1 px-6 py-5 space-y-4 bg-stone-50/60 max-h-[32rem] overflow-y-auto">
  <% messages.each do |message| %>
    <%= render "messages/message",
          message: message,
          current_user_id: current_user.id,
          conversation: conversation,
          current_user: current_user,
          other_participant: other_participant,
          read_receipt_message_id: read_receipt_message_id %>
  <% end %>
</div>
